.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-footer {
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #212;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
