.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  flex: 1;
}

.GameView {
  flex: 1;
  overflow: scroll;
  padding: 1em;
}

.App-footer {
  flex: 1;
}

.search-term {
  padding-left: 4em;
  padding-right: 4em;
}

